---
layout: default
title: Productos - Mac Master Importadores
description: Portafolio especializado en productos industriales MRO. Tornillería, adhesivos, abrasivos y más.
css: products.css
permalink: /products.html
---

{% if page.css %}
<link rel="stylesheet" href="/style/{{ page.css }}" />
{% endif %}

<!-- hero image -->
<section id="heroimage">
  <div class="container-fluid">
    <div class="row">
      <div class="content-hero col-md-10 col-lg-8 offset-lg-1 col-xxl-6">
        <h1>En Mac Master Importadores nuestra prioridad es atenderte</h1>
        <p>Productos confiables, duraderos y técnicamente respaldados.</p>
      </div>
    </div>
  </div>
</section>
<!-- products -->
<section id="products">
  <div class="container-fluid">
    <div class="row">
      <div class="content-produts col-lg-10 offset-lg-1">
        <div class="title-description">
          <h2>Categorías de productos</h2>
          <p>
            En Mac Master Importadores ofrecemos un portafolio especializado en
            productos industriales MRO (Mantenimiento, Reparación y Operación).
            Desde soluciones en tornillería hasta adhesivos estructurales,
            contamos con insumos confiables, de alta durabilidad y con respaldo
            técnico para satisfacer las necesidades de la industria colombiana.
            Explora nuestras líneas de productos diseñadas para mantener la
            continuidad operativa y la eficiencia en todo tipo de entornos
            productivos.
          </p>
        </div>
        {% for category in site.data.products %}
        <div class="product-card">
          <h3>{{ category.name }}</h3>
          <div
            class="content-card grid-{{ category.subcategories | size }} col-12"
          >
            {% for sub in category.subcategories %}
            <div class="card col-sm-4 col-xxl-3">
              <a href="{{ sub.link }}">
                <img src="{{ sub.image }}" alt="{{ sub.name }}" />
                <h4>{{ sub.name }}</h4>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- gallery -->
<section id="gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="container-gallery">
        <div class="banner-cta">
          <div class="title-description col-md-8 col-xl-6">
            <h2>¿Listo para cotizar sin compromiso?</h2>
            <p class="col-xl-10">
              En Mac Master Importadores estamos para ayudarte a encontrar justo
              lo que tu negocio necesita. Escribinos y recibí asesoría
              personalizada en minutos.
            </p>
            <button type="button" class="btn">
              <a
                href="https://wa.me/573177899482?text=Hola%2C%20estoy%20interesado%20en%20sus%20productos%20de%20tornillería%20y%20resinas.%20¿Podrían%20brindarme%20más%20información%3F"
                target="_blank"
                >Habla con un asesor</a
              >
            </button>
          </div>
          <div class="data col-sm-12 col-lg-6">
            <div class="data-image col-md-2">
              <img
                src="https://github.com/MacMaster25/MacMaster-Web/blob/main/Assets/01.Inicio/02.Hero/imgs.png?raw=true"
                alt="imagen en circulo de personas"
              />
            </div>
            <p class="col-md-10">
              Con la confianza de más de 3 millones de clientes
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
