* {
    font-family: "Space Grotesk", sans-serif;
}

body {
    background-color: #121212;
    background-image: url('https://github.com/MacMaster25/MacMaster-Web/blob/main/Assets/01.Inicio/02.Hero/background_noise.png?raw=true');
    background-repeat: repeat;
}

/*navbar*/
.navbar {
    padding: 1rem !important;
}

.navbar .container-fluid {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
}

.navbar .container-navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container-navbar-brand .navbar-brand img {
    width: 75%;
}

.navbar .navbar-toggler {
    background-color: var(--white) !important;
    border-color: var(--color-bg-primary);
}

/*hero image*/
#hero-about {
    background: url("https://raw.githubusercontent.com/MacMaster25/MacMaster-Web/3a7ae8023ddfc3c19d6934800a1e16915eeaf988/Assets/02.about/grid_bg.svg") center/cover no-repeat;
    position: relative;
    min-height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

#hero-about::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 200, 0, 0.4), transparent 70%);
    z-index: 0;
}

#hero-about h1 {
    font-size: 2.25rem;
    font-weight: bold;
}

#hero-about p {
    font-family: instrument-sans, sans-serif;
    font-size: 1.125rem;
}

#hero-about .grid-images img {
    position: relative;
    z-index: 1;
}

#hero-about .small-image {
    width: 35%;
}

#hero-about .main-image {
    border: 1px solid rgba(255, 193, 7, 0.2);
    background: rgba(255, 255, 255, 0.08);
}

#hero-about .medium-image {
    width: 66%;
}

/*essence*/
#essence h2 {
    font-size: 1.75rem;
    line-height: 120%;
}

#essence p {
    font-family: "Instrument Sans";
    font-size: 1.125rem;
    line-height: 150%;
}

#essence .container-essence {
    padding: 2.25rem 1rem;
    gap: 2.25rem;
}

/*about us*/
#about .container-about {
    padding: 2.25rem 1rem;
    gap: 2.25rem;
}

#about .container-about span {
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
}

#about .container-about .title-description {
    align-self: stretch;
}

#about .container-about .title-description .heading {
    align-self: stretch;
    color: var(--color-text-main);
}

#about .container-about .title-description .heading h2 {
    margin-bottom: 0;
}

#about .container-about .title-description .heading p {
    margin-bottom: 0;
}

#about .container-about .grid-stats {
    align-self: stretch;
}

#about .container-about .grid-stats .card {
    background-color: transparent;
    padding: 2.25rem 0;
    align-self: stretch;
    border-radius: 0;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text-main);
}

#about .container-about .grid-stats .card:nth-of-type(2),
#about .container-about .grid-stats .card:nth-of-type(3) {
    border-top: 0;
}

#about .container-about .grid-stats .card:nth-of-type(4) {
    border: 0;
}

#about .container-about .grid-stats .card h3 {
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0;
}

#about .container-about .grid-stats .card .card-title {
    align-self: stretch;
}

#about .container-about .grid-stats .card .card-title h4 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0;
}

#about .container-about .grid-stats .card .card-title p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 0;
}

/*location*/
#location h2 {
    font-size: 1.75rem;
    line-height: 120%;
}

#location p {
    font-family: "Instrument Sans";
    font-size: 1.125rem;
    line-height: 150%;
}

#location .map-responsive {
    width: 100%;
    height: 100%;
    min-height: 250px;
    border: 0;
}

/*values*/
#values {
    display: flex;
    padding: 2.25rem 1rem;
    flex-direction: column;
    align-items: flex-start;
}

#values .container-values {
    align-self: stretch;
    border-radius: 1rem;
    border: 1px solid var(--color-border);
}

#values .container-values .title-description {
    padding: 2.25rem 1rem 0px 1rem;
}

#values .container-values .title-description span {
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
}

#values .container-values .title-description h2 {
    color: var(--color-text-main);
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0;
}

#values .container-values .title-description p {
    color: var(--color-text-main);
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#values .container-values .values {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    align-self: stretch;
    padding: 0 1rem;
}

#values .container-values .values .text {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
}

#values .container-values .values .text p {
    color: var(--color-text-main);
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 0;
}

#values .container-values img {
    width: 100%;
    height: 100vw;
    object-fit: cover;
    border-radius: 0 0 1rem 1rem;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
}

/*mision & vision*/
#mision .container span {
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
}

#mision .container h2 {
    color: var(--color-text-main);
    font-size: 1.75rem;
    font-style: normal;
    line-height: 120%;
    border-bottom: 1px solid var(--color-border);
}

#mision .container p {
    font-family: "Instrument Sans";
    line-height: 160%;
}

/*team
#team .container-team {
    padding: 1rem;
}

#team .container-team img {
    width: 100%;
}

#team .container-team .grid-images {
    align-self: stretch;
}*/

/*benefits*/
#benefits h2 {
    font-size: 1.75rem;
    line-height: 120%;
}

#benefits p {
    font-family: "Instrument Sans";
    font-size: 1.125rem;
    line-height: 150%;
}

/*contact-us*/
#contact-us span,
#contact-us .guarantee {
    border: 1px solid var(--color-border-secondary);
}

#contact-us h2 {
    font-size: 1.75rem;
}

#contact-us p {
    font-family: "Instrument Sans";
    font-size: 1.125rem;
    line-height: 150%;
}

/*footer*/
#footer .container-footer {
    padding: 0.5rem;
}

#footer .container-footer .footer-options {
    padding: 2.25rem 1rem;
    gap: 2.25rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--color-text-main);
}

#footer .container-footer .footer-options img {
    width: 75%;
}

#footer .container-footer .footer-options .options .navbar-nav .nav-item a {
    padding: 0;
}

#footer .container-footer .footer-options p {
    color: var(--color-text-button);
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#footer .container-footer .footer-data {
    padding: 2.25rem 1rem;
    gap: 2.25rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--color-bg-secondary);
    color: var(--color-text-main);
}

#footer .container-footer .footer-data .info {
    align-self: stretch;
}

#footer .container-footer .footer-data .info p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

#footer .container-footer .footer-data .info a {
    color: var(--color-text-main);
    text-decoration: none;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

#footer .container-footer .footer-data .social-data .navbar-nav {
    gap: 2rem;
    align-self: stretch;
}

/*FAB*/
.fixed-bottom {
    left: auto !important;
}

.fixed-bottom a {
    max-width: 96px;
}

.fixed-bottom a img {
    width: 100%;
}

/*landscape phones, 608px*/
@media (min-width: 608px) {
    .navbar .container-navbar-brand {
        width: 100%;
    }

    #hero-about {
        padding-top: 9rem;
    }

    #hero-about .main-image img {
        max-height: 360px;
        width: 100%;
        object-fit: cover;
    }

    #location .map-responsive {
        min-height: 400px;
    }

    #values .container-values img {
        height: 50vw;
    }

    #team .container-team img {
        height: 50vh;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    #footer .container-footer .footer-options img {
        width: 50%;
    }
}

/*tablets, 768px*/
@media (min-width: 768px) {
    .navbar .container-navbar-brand .navbar-brand img {
        width: 50%;
    }

    #hero-about {
        padding-top: 7rem;
    }

    #about .container-about .grid-stats .card {
        padding: 3.75rem 0;
    }

    #about .container-about .title-description a {
        width: auto;
    }

    #values .container-values .values {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-top: 2.25rem;
        padding: 0;
    }

    #mision .container img {
        min-height: 700px;
        object-fit: cover;
    }

    #footer .container-footer .footer-options img {
        width: 35%;
    }
}

/*desktop, 992px*/
@media (min-width: 992px) {
    .navbar {
        padding: 1rem 0 !important;
    }

    .navbar .navbar-brand {
        width: auto;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 0.5rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: var(--color-text-button);
        font-weight: 500;
    }

    .navbar-expand-lg .navbar-nav .active {
        font-weight: 500;
        background-color: #D18100;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem !important;
    }

    #hero-about {
        min-height: 70vh;
        padding-top: 5rem;
    }

    #hero-about::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 70%;
        top: 30%;
        transform: translateX(-50%);
        width: 60%;
        height: 100%;
        background: radial-gradient(circle, rgba(255, 200, 0, 0.4), transparent 70%);
        z-index: 0;
    }

    #about .container-about .title-description {
        gap: 2.25rem;
    }

    #about .container-about .title-description .heading {
        gap: 2.25rem;
    }

    #values {
        padding: 2.25rem 0;
    }

    #team .container-team {
        flex-direction: row;
        padding: 0.5rem 0;
    }

    #team .container-team img {
        width: 49%;
        height: 100%;
    }

    #team .container-team .grid-images img {
        width: 98%;
        height: 50%;
    }

    #footer .container-footer .footer-options img {
        width: 50%;
    }

    #footer .container-footer .footer-data {
        width: 49.5%;
    }
}

/*large desktops, 1200px*/
@media (min-width: 1200px) {
    #hero-about::before {
        top: 0%;
    }

    #about .container-about {
        align-items: flex-start;
        padding: 4.5rem 0;
    }

    #values .container-values .title-description {
        padding: 3.75rem 1rem 0px 1rem;
    }

    #values .container-values img {
        height: 64vh;
    }

    #mision .container img {
        min-height: 580px;
    }

    #contact-us .min-height-xl {
        min-height: 650px;
    }

    #footer .container-footer .footer-options,
    #footer .container-footer .footer-data {
        padding: 3.75rem;
    }

    #footer .container-footer .footer-options img {
        width: 50%;
    }

    #footer .container-footer .footer-options p {
        text-align: start;
    }
}

/*larger desktops, 1400px*/
@media (min-width: 1400px) {
    #hero-about {
        min-height: 80vh;
    }

    #hero-about .main-image img {
        max-height: 540px;
    }

    #hero-about h1 {
        font-size: 3rem;
    }

    #essence h2 {
        font-size: 2.25rem;
    }

    #essence p {
        font-size: 1.5rem;
    }

    #location h2 {
        font-size: 2.25rem;
    }

    #location p {
        font-size: 1.5rem;
    }

    #values .container-values img {
        height: 60vh;
    }

    #values .container-values .title-description h2 {
        font-size: 2.25rem;
    }

    #mision .container h2 {
        font-size: 2.25rem;
    }

    #benefits h2 {
        font-size: 2.25rem;
    }

    #contact-us h2 {
        font-size: 3.75rem;
    }

    #footer .container-footer .footer-options img {
        width: 35%;
    }

    #footer .container-footer .footer-options p {
        margin-top: 3rem;
        margin-bottom: 0;
    }
}