* {
    font-family: "Space Grotesk", sans-serif;
}

:root {
    /* Text Colors */
    --color-text-main: #FFFFFF;
    --color-text-button: #000000;

    /* Border */
    --color-border: #7E8597;

    /* Backgrounds */
    --color-bg-primary: #121212;
    --color-bg-secondary: #222222;

    /* Primary Brand Color */
    --color-primary: #F9A825;

    /* Fonts */
    --font-family-primary: 'Bebas Neue', serif;
    --font-family-secondary: 'Noto Sans', serif;
}

body {
    background-color: #121212;
    background-image: url('https://github.com/MacMaster25/MacMaster-Web/blob/main/Assets/01.Inicio/02.Hero/background_noise.png?raw=true');
    background-repeat: repeat;
}

/*navbar*/
.navbar {
    padding: 1rem !important;
}

.navbar .container-fluid {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
}

.navbar .container-navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container-navbar-brand .navbar-brand img {
    width: 75%;
}

.navbar .navbar-toggler {
    background-color: var(--white) !important;
    border-color: var(--color-bg-primary);
}

/*footer*/
#footer .container-footer {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

#footer .container-footer .footer-options {
    display: flex;
    padding: 2.25rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--color-text-main);
}

#footer .container-footer .footer-options img {
    width: 75%;
}

#footer .container-footer .footer-options .options .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    text-align: center;
}

#footer .container-footer .footer-options .options .navbar-nav .nav-item a {
    padding: 0;
}

#footer .container-footer .footer-options p {
    color: var(--color-text-button);
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#footer .container-footer .footer-data {
    display: flex;
    padding: 2.25rem 1rem;
    flex-direction: column;
    align-items: start;
    gap: 2.25rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--color-bg-secondary);
    color: var(--color-text-main);
}

#footer .container-footer .footer-data .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

#footer .container-footer .footer-data .info p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

#footer .container-footer .footer-data .info a {
    color: var(--color-text-main);
    text-decoration: none;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

#footer .container-footer .footer-data .social-data .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-self: stretch;
}

/*FAB*/
.fixed-bottom {
    left: auto !important;
}

.fixed-bottom a {
    max-width: 96px;
}

.fixed-bottom a img {
    width: 100%;
}

/*landscape phones, 608px*/
@media (min-width: 608px) {
    .navbar .container-navbar-brand {
        width: 100%;
    }

    #footer .container-footer .footer-options img {
        width: 35%;
    }
}

/*desktop, 992px*/
@media (min-width: 992px) {
    .navbar {
        padding: 1rem 0 !important;
    }

    .navbar .navbar-brand {
        width: auto;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: var(--color-text-button);
        font-weight: 500;
    }

    .navbar-expand-lg .navbar-nav .active {
        font-weight: 500;
        background-color: #D18100;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem!important;
    }

    #footer .container-footer {
        flex-direction: row;
    }

    #footer .container-footer .footer-options {
        justify-content: center;
    }

    #footer .container-footer .footer-options img {
        width: 40%;
    }
}

/*large desktops, 1200px*/
@media (min-width: 1200px) {
    #footer .container-footer {
        justify-content: space-between;
    }

    #footer .container-footer .footer-options {
        width: 100%;
        padding: 3.75rem;
    }

    #footer .container-footer .footer-data {
        width: 100%;
        padding: 3.75rem;
    }
}

/*larger desktops, 1400px*/
@media (min-width: 1400px) {
    #footer .container-footer .footer-options {
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #footer .container-footer .footer-options .options .navbar-nav {
        flex-direction: row;
    }

    #footer .container-footer .footer-options p {
        margin-top: 3rem;
        margin-bottom: 0;
    }
}