* {
    font-family: "Space Grotesk", sans-serif;
}

body {
    background-color: #121212;
    background-image: url('https://github.com/MacMaster25/MacMaster-Web/blob/main/Assets/01.Inicio/02.Hero/background_noise.png?raw=true');
    background-repeat: repeat;
}

/*navbar*/
.navbar {
    padding: 1rem !important;
}

.navbar .container-fluid {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
}

.navbar .container-navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container-navbar-brand .navbar-brand img {
    width: 75%;
}

.navbar .navbar-toggler {
    background-color: var(--white) !important;
    border-color: var(--color-bg-primary);
}

/*products*/
#products .content-produts {
    padding: 7.25rem 1rem 2.25rem 1rem;
    gap: 2.25rem;
}

#products .content-produts .title-description {
    align-self: stretch;
}

#products .content-produts .title-description h1 {
    color: var(--color-text-main);
    text-align: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0;
}

#products .content-produts .title-description .breadcrumb {
    margin-bottom: 0;
}

#products .content-produts .title-description .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: var(--color-border);
}

#products .content-produts .title-description .breadcrumb .breadcrumb-item a {
    color: var(--color-primary);
    text-decoration: none;
}

#products .content-produts .title-description .breadcrumb .active {
    color: var(--color-text-main);
}

#products .content-produts p {
    color: var(--color-text-main);
    font-family: "Instrument Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 0;
}

#products .content-produts .tabs .active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

#products .content-produts .grid-products {
    grid-template-columns: 1fr;
}

#products .content-produts .grid-products .card {
    border-radius: 0;
    background: none;
    border: 1px solid var(--color-border);
}

#products .content-produts .grid-products .card:nth-of-type(2),
#products .content-produts .grid-products .card:nth-of-type(3),
#products .content-produts .grid-products .card:nth-of-type(4),
#products .content-produts .grid-products .card:nth-of-type(5),
#products .content-produts .grid-products .card:nth-of-type(6),
#products .content-produts .grid-products .card:nth-of-type(7) {
    border-top: 0;
}

#products .content-produts .grid-products .card a {
    padding: 1.5rem 1rem;
    text-decoration: none;
}

#products .content-produts .grid-products .card a img {
    width: 25%;
}

#products .content-produts .grid-products .card h4 {
    color: var(--color-text-main);
    font-family: "Instrument Sans";
    font-size: 1rem;
    font-style: normal;
    line-height: 120%;
    margin-bottom: 0;
}

/*hero*/
#heroimage {
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0), rgba(18, 18, 18, 0.35), rgba(18, 18, 18, 1)), url('https://github.com/MacMaster25/MacMaster-Web/blob/static-main/Assets/resina-industrial-vertido-alto-rendimiento-laminado-polimeros.png?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
}

#heroimage .heading {
    min-height: 600px;
}

#heroimage span {
    border: 1px solid var(--color-border-secondary);
}

/*types of resine*/
#types h2 {
    font-size: 1.75rem;
}

#types .size-img {
    height: 300px;
}

/*applications*/
#aplications h2 {
    font-size: 1.75rem;
}

#aplications p {
    font-size: 1rem;
}

#aplications .container-image {
    background-image: url('https://github.com/MacMaster25/MacMaster-Web/blob/static-main/Assets/encapsulado-resina-mesa-arte-decoracion-brillante.png?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

#aplications .card-body {
    background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
    backdrop-filter: blur(2px);
}

#aplications .card-body h5 {
    font-size: 1.125rem;
}

#aplications .card-body p {
    font-family: "Instrument Sans";
    font-size: 1rem;
}

/*benefits*/
#benefits h2 {
    font-size: 1.75rem;
    line-height: 120%;
}

#benefits p {
    font-family: "Instrument Sans";
    font-size: 1.125rem;
    line-height: 150%;
}

/*industrial-category*/
#industrial-category h2 {
    font-size: 1.5rem;
}

#industrial-category a div {
    font-size: 1.5rem;
}

/*contact-us*/
#contact-us span,
#contact-us .guarantee {
    border: 1px solid var(--color-border-secondary);
}

#contact-us h2 {
    font-size: 1.75rem;
}

#contact-us p {
    font-family: "Instrument Sans";
    font-size: 1.125rem;
    line-height: 150%;
}

/*footer*/
#footer .container-footer {
    padding: 0.5rem;
}

#footer .container-footer .footer-options {
    padding: 2.25rem 1rem;
    gap: 2.25rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--color-text-main);
}

#footer .container-footer .footer-options img {
    width: 75%;
}

#footer .container-footer .footer-options .options .navbar-nav .nav-item a {
    padding: 0;
}

#footer .container-footer .footer-options p {
    color: var(--color-text-button);
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#footer .container-footer .footer-data {
    padding: 2.25rem 1rem;
    gap: 2.25rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--color-bg-secondary);
    color: var(--color-text-main);
}

#footer .container-footer .footer-data .info {
    align-self: stretch;
}

#footer .container-footer .footer-data .info p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

#footer .container-footer .footer-data .info a {
    color: var(--color-text-main);
    text-decoration: none;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

#footer .container-footer .footer-data .social-data .navbar-nav {
    gap: 2rem;
    align-self: stretch;
}

/*FAB*/
.fixed-bottom {
    left: auto !important;
}

.fixed-bottom a {
    max-width: 96px;
}

.fixed-bottom a img {
    width: 100%;
}

/*landscape phones, 608px*/
@media (min-width: 608px) {
    .navbar .container-navbar-brand {
        width: 100%;
    }

    #products .content-produts {
        padding: 9.25rem 1rem 2.25rem 1rem;
    }

    #products .content-produts .grid-products {
        grid-template-columns: repeat(2, 1fr);
    }

    #products .content-produts .grid-products .card:nth-of-type(2),
    #products .content-produts .grid-products .card:nth-of-type(4),
    #products .content-produts .grid-products .card:nth-of-type(6) {
        border-top: 1px solid var(--color-border);
        border-left: 0;
    }

    #footer .container-footer .footer-options img {
        width: 50%;
    }
}

/*tablets, 768px*/
@media (min-width: 768px) {
    .navbar .container-navbar-brand .navbar-brand img {
        width: 50%;
    }

    #footer .container-footer .footer-options img {
        width: 35%;
    }
}

/*desktop, 992px*/
@media (min-width: 992px) {
    .navbar {
        padding: 1rem 0 !important;
    }

    .navbar .navbar-brand {
        width: auto;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 0.5rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: var(--color-text-button);
        font-weight: 500;
    }

    .navbar-expand-lg .navbar-nav .active {
        font-weight: 500;
        background-color: #D18100;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem !important;
    }

    #products .content-produts {
        padding: 8.25rem 0 2.25rem 0;
    }

    #products .content-produts .grid-products {
        grid-template-columns: repeat(4, 1fr);
    }

    #products .content-produts .grid-products .card:nth-of-type(3) {
        border-top: 1px solid var(--color-border);
        border-left: 0;
    }

    #products .content-produts .grid-products .card:nth-of-type(6) {
        border-top: 0;
    }

    #products .content-produts .grid-products .card:nth-of-type(7) {
        border-left: 0;
    }

    #types .size-img {
        height: 500px;
    }

    #footer .container-footer .footer-options img {
        width: 50%;
    }

    #footer .container-footer .footer-data {
        width: 49.5%;
    }
}

/*large desktops, 1200px*/
@media (min-width: 1200px) {
    #types .size-img {
        height: 450px;
    }

    #gallery .container-gallery .banner-cta {
        padding: 3.75rem 10.063rem;
    }

    #contact-us .min-height-xl {
        min-height: 650px;
    }

    #footer .container-footer .footer-options,
    #footer .container-footer .footer-data {
        padding: 3.75rem;
    }

    #footer .container-footer .footer-options img {
        width: 50%;
    }

    #footer .container-footer .footer-options p {
        text-align: start;
    }
}

/*larger desktops, 1400px*/
@media (min-width: 1400px) {
    #products .content-produts p {
        font-size: 1.5rem;
    }

    #types h2 {
        font-size: 2.25rem;
    }

    #types .size-img {
        height: 400px;
    }

    #aplications h2 {
        font-size: 2.25rem;
    }

    #aplications p {
        font-size: 1.5rem;
    }

    #aplications .card-body h5 {
        font-size: 1.5rem;
    }

    #benefits h2 {
        font-size: 2.25rem;
    }

    #contact-us h2 {
        font-size: 3.75rem;
    }

    #footer .container-footer .footer-options img {
        width: 35%;
    }

    #footer .container-footer .footer-options p {
        margin-top: 3rem;
        margin-bottom: 0;
    }
}