{% comment %} Benefits Section Component Usage: {% include benefits.html %} {%
endcomment %}

<section
  id="benefits"
  class="bg-black mb-2 py-4 py-xl-5 px-1 px-lg-0 text-light"
>
  <div class="container-fluid py-lg-3 col-lg-10 offset-lg-1">
    <div>
      <h2 class="fw-bold mb-3 col-xl-4">
        Beneficios de trabajar con MacMaster
      </h2>
      <p class="mb-5 col-xl-6">
        En MacMaster te ofrecemos soluciones industriales confiables, respaldo
        técnico y productos de alta calidad que impulsan tu productividad y
        eficiencia.
      </p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
      <div class="col">
        <h6 class="fw-bold text-uppercase mb-3">Asesoría técnica experta</h6>
        <p class="mb-0 col-10">
          Te ayudamos a elegir el producto ideal según tu industria y
          aplicación.
        </p>
      </div>
      <div class="col">
        <h6 class="fw-bold text-uppercase mb-3">
          Entrega rápida a nivel nacional
        </h6>
        <p class="mb-0 col-10">
          Contamos con amplio stock disponible para despachos rápidos.
        </p>
      </div>
      <div class="col">
        <h6 class="fw-bold text-uppercase mb-3">Precios competitivos</h6>
        <p class="mb-0 col-10">
          Ofrecemos calidad industrial al mejor costo del mercado.
        </p>
      </div>
      <div class="col">
        <h6 class="fw-bold text-uppercase mb-3">Garantía de calidad</h6>
        <p class="mb-0 col-10">
          Productos resistentes, duraderos y certificados para uso industrial.
        </p>
      </div>
    </div>
  </div>
</section>
