<footer id="footer">
  <div class="container-fluid">
    <div class="row container-footer row-cols-1 row-cols-lg-2 align-items-start justify-content-xl-between gap-1">
      <div class="footer-options d-flex flex-column align-items-center justify-content-lg-center align-items-xl-start justify-content-lg-between">
        <img src="https://github.com/MacMaster25/MacMaster-Web/blob/main/Assets/01.Inicio/01.Logos/logo.png?raw=true" alt="Logo de Mac Master Importadores, expertos en tornillería y soluciones industriales">
        <div class="options">
            <ul class="navbar-nav d-flex flex-column align-items-center gap-4 flex-xl-row text-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/' | relative_url }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products.html">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contáctenos</a>
                </li>
            </ul>
        </div>
        <p>Copyright © 2025 Mac Master Importadores - Todos los derechos reservados.</p>
      </div>
      <div class="footer-data d-flex flex-column align-items-start">
        <div class="info d-flex flex-column align-items-start gap-4">
          <small>Correo</small>
          <a href="mailto:proyectos@macmaster.co">proyectos@macmaster.co</a>
        </div>
        <div class="info d-flex flex-column align-items-start gap-4">
          <small>Teléfono</small>
          <p>(57) 317 789 9482</p>
        </div>
        <div class="info d-flex flex-column align-items-start gap-4">
          <small>Dirección</small>
          <a href="https://maps.app.goo.gl/WE55NxdbZBX4dsTb8" target="_blank" rel="noopener noreferrer">Av. 5c Nte. #46, Cali,
              Valle del Cauca, Colombia</a>
        </div>
        <div class="social-data">
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://www.instagram.com/macmasterimport/">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://www.facebook.com/macmasterimport">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
