<section id="gallery">
  <div class="container-fluid">
      <div class="row container-gallery">
          <div class="banner-cta d-flex flex-column align-items-center align-items-lg-start gap-1">
              <div class="title-description d-flex flex-column align-items-start gap-4 col-md-8 col-xl-6">
                  <h2>¿Listo para cotizar sin compromiso?</h2>
                  <p class="col-xl-10">En Mac Master Importadores estamos para ayudarte a encontrar justo lo
                      que
                      tu negocio necesita. Escribinos y recibí asesoría personalizada en minutos.</p>
                  <a class="text-center" href="https://wa.me/573177899482?text=Hola%2C%20estoy%20interesado%20en%20sus%20productos%20de%20tornillería%20y%20resinas.%20¿Podrían%20brindarme%20más%20información%3F" target="_blank">Habla con un asesor</a>
              </div>
              <div class="data d-sm-flex align-items-sm-center col-sm-12 col-lg-6">
                  <div class="data-image d-sm-flex flex-sm-wrap col-md-2">
                      <img src="https://github.com/MacMaster25/MacMaster-Web/blob/main/Assets/01.Inicio/02.Hero/imgs.png?raw=true" class="mb-2 mb-sm-0" alt="imagen en circulo de personas">
                  </div>
                  <p class="mb-0 ms-sm-3 ms-lg-0 d-sm-flex flex-sm-shrink-1 col-md-10">Con la confianza de más
                      de 3 millones de clientes</p>
              </div>
          </div>
      </div>
  </div>
</section>
