<section id="contact-us" class="container-fluid px-2">
  <div class="w-100 mb-2 me-md-1 mb-xl-0">
    <div
      class="position-relative text-white rounded-4 overflow-hidden h-100 min-height-xl"
    >
      <img
        src="https://github.com/MacMaster25/MacMaster-Web/blob/static-main/Assets/01.Inicio/05.gallery/image_bg.png?raw=true"
        class="w-100 h-100 object-fit-cover position-absolute top-0 start-0 z-0"
        alt="Asesora industrial"
      />
      <div
        class="position-relative p-4 p-lg-5 z-1 bg-gradient-dark h-100 d-flex flex-column justify-content-between min-height-xl"
      >
        <div>
          <span class="badge py-2 px-2 mb-3">CONTÁCTENOS</span>
          <h2 class="fw-bold mb-3">
            ¿Listo para tu próxima<br />compra industrial?
          </h2>
          <p class="mb-4 col-xl-6 col-xxl-4">
            En Mac Master Importadores estamos para ayudarte a encontrar justo
            lo que tu negocio necesita. Escríbenos y recibí asesoría
            personalizada en minutos.
          </p>
          <a
            class="text-center btn btn-main"
            href="https://wa.me/573177899482?text=Hola%2C%20estoy%20interesado%20en%20sus%20productos%20de%20tornillería%20y%20resinas.%20¿Podrían%20brindarme%20más%20información%3F"
            target="_blank"
            >Habla con un asesor</a
          >
        </div>
        <div class="d-inline-flex">
          <div
            class="guarantee d-flex flex-column flex-md-row align-items-md-center mt-4 small rounded-4 px-3 py-3 gap-2 bg-dark bg-opacity-75"
          >
            <img
              src="https://github.com/MacMaster25/MacMaster-Web/blob/static-main/Assets/01.Inicio/02.Hero/guarantee_icon.png?raw=true"
              alt="Icono garantía"
              width="24"
              height="24"
            />
            <p class="mb-0">
              Garantía de satisfacción: devoluciones sin costo en 30 días.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
