<nav class="navbar fixed-top navbar-expand-lg col-lg-10 offset-lg-1">
  <div class="container-fluid">
    <div class="container-navbar-brand">
      <a class="navbar-brand col-lg-6" href="{{ '/' | relative_url }}">
        <img
          src="https://github.com/MacMaster25/MacMaster-Web/blob/main/Assets/01.Inicio/01.Logos/logo.png?raw=true"
          alt="Logo de Mac Master Importadores, expertos en tornillería y soluciones industriales"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse col-lg-6" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link {% if page.permalink == '/quienes_somos.html' %}active{% endif %} pe-0"
            href="{{ '/quienes_somos' | relative_url }}"
          >
            Quienes Somos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if page.permalink == '/products.html' or page.permalink contains 'productos' %}active{% endif %}"
            href="{{ 'categorias' | append: category.slug | relative_url }}"
          >
            Productos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if page.permalink == '/contact.html' %}active{% endif %}"
            href="{{ '/contact/' | relative_url }}"
          >
            Contáctenos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
