---
layout: default
---

{% assign data = site.data[page.category_file] %}
<section id="products">
  <div class="container-fluid">
    <div
      class="content-produts row d-flex flex-column align-items-start col-lg-10 offset-lg-1 col-xxl-8 offset-xxl-2"
    >
      <div
        class="title-description d-flex flex-column justify-content-center align-items-start gap-3 p-0"
      >
        <h1>{{ data.category.name }}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% for item in data.category.breadcrumb %}
            <li
              class="breadcrumb-item {% if forloop.last %}active{% endif %}"
              {%
              if
              forloop.last
              %}aria-current="page"
              {%
              endif
              %}
            >
              {% if forloop.last %} {{ item.name }} {% else %}
              <a href="{{ item.link }}">{{ item.name }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ol>
        </nav>
      </div>
      <h2 class="p-0">{{ data.category.subtitle }}</h2>
      <p class="p-0">{{ data.category.description }}</p>
      <div
        class="grid-products d-flex flex-column align-items-start gap-4 p-0 col-md-12"
      >
        <h3>Clase del material</h3>
        <div class="content-card d-grid col-12">
          {% if data.products %} {% for product in data.products %}
          <div
            class="card d-flex flex-row flex-md-column justify-content-start justify-content-lg-center align-items-center text-lg-center gap-4"
          >
            <img
              src="{{ site.baseurl }}{{ product.image }}"
              alt="{{ product.alt }}"
            />
            <h4>{{ product.name }}</h4>
          </div>
          {% endfor %} {% elsif data.subcategories %} {% for subcat in
          data.subcategories %}
          <div
            class="card d-flex flex-row flex-md-column justify-content-start justify-content-lg-center align-items-center text-lg-center gap-4"
          >
            <img
              src="{{ site.baseurl }}{{ subcat.image }}"
              alt="{{ subcat.alt }}"
            />
            <h4>{{ subcat.name }}</h4>
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
      <div class="specs d-flex flex-column align-items-start gap-4 p-0">
        <h2>Aplicaciones Comunes</h2>
        <div class="container-specs col-12">
          <table class="table table-dark table-striped-columns">
            <tbody>
              {% for application in data.applications %}
              <tr>
                <th class="col-md-6 col-xl-5">{{ application.industry }}:</th>
                <td class="col-md-6 col-xl-7">{{ application.description }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="specs d-flex flex-column align-items-start gap-3 p-0">
        <h2>Características Técnicas</h2>
        <div class="container-specs col-12">
          <table class="table table-dark table-striped-columns">
            <tbody>
              {% for characteristic in data.characteristics %}
              <tr>
                <th class="col-md-6 col-xl-5" scope="row">
                  {{ characteristic.name }}:
                </th>
                <td class="col-md-6 col-xl-7">
                  {{ characteristic.description }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="specs d-flex flex-column align-items-start gap-3 p-0">
        <h2>Especificaciones Generales</h2>
        <div class="container-specs col-12">
          <table class="table table-dark table-striped-columns">
            <tbody>
              {% for spec in data.specifications %}
              <tr>
                <th class="col-md-6 col-xl-5" scope="row">{{ spec.name }}:</th>
                <td class="col-md-6 col-xl-7">{{ spec.description }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="documentary d-flex flex-column align-items-start gap-3 p-0">
        <div
          class="title-description d-flex flex-column justify-content-center align-items-start gap-3"
        >
          <h2>Documentación Técnica</h2>
          <p>
            Para más detalles sobre especificaciones y aplicaciones, puedes
            consultar las siguientes fuentes:
          </p>
        </div>
        <ul>
          {% for doc in data.documentation %}
          <li>
            <a href="{{ doc.link }}" target="_blank">{{ doc.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- gallery -->
<section id="gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="container-gallery">
        <div class="banner-cta">
          <div class="title-description col-md-8 col-xl-6">
            <h2>¿Listo para cotizar sin compromiso?</h2>
            <p class="col-xl-10">
              En Mac Master Importadores estamos para ayudarte a encontrar justo
              lo que tu negocio necesita. Escribinos y recibí asesoría
              personalizada en minutos.
            </p>
            <button type="button" class="btn">
              <a
                href="https://wa.me/573177899482?text=Hola%2C%20estoy%20interesado%20en%20sus%20productos%20de%20tornillería%20y%20resinas.%20¿Podrían%20brindarme%20más%20información%3F"
                target="_blank"
                >Habla con un asesor</a
              >
            </button>
          </div>
          <div class="data col-sm-12 col-lg-6">
            <div class="data-image col-md-2">
              <img
                src="https://github.com/MacMaster25/MacMaster-Web/blob/main/Assets/01.Inicio/02.Hero/imgs.png?raw=true"
                alt="imagen en circulo de personas"
              />
            </div>
            <p class="col-md-10">
              Con la confianza de más de 3 millones de clientes
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
