---
layout: default
---

{% assign subcategory = nil %} {% for subcat in site.data.subcategories %} {% if
subcat.slug == page.slug %} {% assign subcategory = subcat %} {% break %} {%
endif %} {% endfor %}
<!-- Products Section -->
<section id="products">
  <div class="container-fluid">
    <div
      class="content-produts row d-flex flex-column align-items-start col-lg-10 offset-lg-1"
    >
      <!-- Title and Description -->
      <div
        class="title-description d-flex flex-column align-items-start justify-content-center gap-3 p-0"
      >
        {% if subcategory %}
        <h1>{{ subcategory.name }}</h1>

        <!-- Dynamic Breadcrumb Navigation -->
        {% include breadcrumb.html items=subcategory.breadcrumb %} {% else %}
        <h1>Subcategoría no encontrada</h1>
        {% endif %}
      </div>

      <!-- Subcategory Description -->
      {% if subcategory %}
      <p class="p-0">{{ subcategory.description }}</p>
      {% endif %}

      <!-- Tabs -->
      {% assign category_subcategories = site.data.subcategories | where:
      "category_id", subcategory.category_id %} {% if
      category_subcategories.size > 1 %}
      <div class="tabs d-flex flex-wrap gap-2 px-0">
        {% for subcat in category_subcategories %} {% assign is_active = "" %}
        {% if page.slug == subcat.slug %} {% assign is_active = "active" %} {%
        endif %} {% assign tab_class = "text-decoration-none px-3 py-2
        text-white border rounded" %} {% if is_active == "active" %} {% assign
        tab_class = "rounded text-decoration-none px-3 py-2 rounded active" %}
        {% endif %} {% if forloop.first %} {% assign tab_class = tab_class |
        append: " rounded-start" %} {% endif %} {% if forloop.last %} {% assign
        tab_class = tab_class | append: " rounded-end" %} {% endif %}
        <a
          href="{{ '/subcategory/' | append: subcat.slug | relative_url }}"
          class="{{ tab_class }}"
          >{{ subcat.tab_name }}</a
        >
        {% endfor %}
      </div>
      {% endif %}

      <!-- Products Grid -->
      {% if subcategory %}
      <div class="grid-products d-grid p-0">
        {% assign category_products = site.data.products | where:
        "subcategory_id", subcategory.id %} {% for product in category_products
        %}
        <div class="card">
          <a
            href="{{ 'product/' | append: product.slug | relative_url }}"
            class="d-flex flex-lg-column text-lg-center justify-content-start align-items-center gap-4"
          >
            <img
              src="{{ product.image | relative_url }}"
              alt="{{ product.alt }}"
              class="product-image"
            />
            <h4 id="{{ product.slug }}">{{ product.name }}</h4>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% if subcategory.applications_title %}
<section
  id="applications"
  class="container text-white pt-3 pt-xl-5 pb-5 px-md-0 px-lg-2 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2"
>
  <h6 class="text-uppercase fw-bold mb-3 pb-3 border-bottom border-secondary">
    {{ subcategory.applications_title }}
  </h6>
  <p class="mb-0">{{ subcategory.applications_description }}</p>
  {% if subcategory.benefits %}
  <div class="py-4">
    <h6 class="text-uppercase fw-bold mb-3 pb-3 border-bottom border-secondary">
      Beneficios
    </h6>
    <ul class="list-unstyled mb-0">
      {% for benefit in subcategory.benefits %}
      <li class="mb-2 mb-xl-4 ms-3">• {{ benefit }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% if subcategory.applications %}
  <div>
    <h6 class="text-uppercase fw-bold mb-3 pb-3 border-bottom border-secondary">
      Aplicaciones comunes
    </h6>
    <ul class="list-unstyled mb-0">
      {% for application in subcategory.applications %}
      <li class="mb-2 mb-xl-4 ms-3">• {{ application }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</section>
{% endif %} {% include benefits.html %}

<section
  id="industrial-category"
  class="container-fluid py-5 px-lg-0 col-lg-10 offset-lg-1"
>
  <h2 class="text-white fw-bold mb-4">Conoce más soluciones industriales</h2>
  <div
    class="d-flex flex-column flex-md-row flex-wrap flex-lg-nowrap gap-2 gap-md-3 justify-content-center"
  >
    {% for category in site.data.categories %} {% unless category.id ==
    subcategory.category_id %} {% assign first_subcategory =
    site.data.subcategories | where: "category_id", category.id | first %}
    <div
      class="rounded-4 overflow-hidden position-relative"
      style="flex: 1 1 300px"
    >
      <a
        href="{{ '/subcategory/' | append: first_subcategory.slug | relative_url }}"
      >
        {% if category.id == "tornilleria-industrial" %}
        <img
          src="{{ 'assets/images/tornilleria-industrial-fijaciones-macmaster.png' | relative_url }}"
          class="img-fluid w-100 h-100 object-fit-cover opacity-75"
          alt="{{ category.name }}"
        />
        {% elsif category.id == "abrasivos" %}
        <img
          src="{{ 'assets/images/abrasivos-macmaster-corte-chispas.png' | relative_url }}"
          class="img-fluid w-100 h-100 object-fit-cover opacity-75"
          alt="{{ category.name }}"
        />
        {% elsif category.id == "adhesivos-y-sellantes" %}
        <img
          src="{{ 'assets/images/industrial-category/adhesivos-y-sellantes.png' | relative_url }}"
          class="img-fluid w-100 h-100 object-fit-cover opacity-75"
          alt="{{ category.name }}"
        />
        {% elsif category.id == "resina-y-fibra-de-vidrio" %}
        <img
          src="{{ 'assets/images/industrial-category/resina-y-fibra-de-vidrio.png' | relative_url }}"
          class="img-fluid w-100 h-100 object-fit-cover opacity-75"
          alt="{{ category.name }}"
        />
        {% endif %}
        <div class="position-absolute bottom-0 start-0 p-3 text-white fw-bold">
          {{ category.name }}
        </div>
      </a>
    </div>
    {% endunless %} {% endfor %}
  </div>
</section>

{% include gallery.html %}
