---
layout: default
---

{% assign subcategory = site.data.subcategories | find: "id", page.slug %}
<p>{{ page.slug }}</p>
<p>--------------------------------</p>
<p>{{ site.data.subcategories }}</p>
<p>--------------------------------</p>
<p>{{ subcategory }}</p>
<p>--------------------------------</p>
<p>{{ subcategory.id }}</p>
<p>--------------------------------</p>
<!-- Products Section -->
<section id="products">
  <div class="container-fluid">
    <div class="content-produts row d-flex flex-column align-items-start col-lg-10 offset-lg-1">
      
      <!-- Title and Description -->
      <div class="title-description d-flex flex-column align-items-start justify-content-center gap-3 p-0">
        <h1>{{ subcategory.name }}</h1>
        
        <!-- Dynamic Breadcrumb Navigation -->
        {% include breadcrumb.html items=subcategory.breadcrumb %}
      </div>
      
      <!-- Subcategory Description -->
      <p class="p-0">{{ subcategory.description }}</p>

      <!-- Products Grid -->
      <div class="grid-products d-grid p-0">
        {% assign category_products = site.data.products | where: "subcategory_id", subcategory.id %}
        {% for product in category_products %}
          <div class="card">
            <a href="{{ 'product/' | append: product.slug | relative_url }}" 
               class="d-flex flex-lg-column text-lg-center justify-content-start align-items-center gap-4">
              <img src="{{ product.image | relative_url }}"
                   alt="{{ product.alt }}"
                   class="product-image" />
              <h4 id="{{ product.slug }}">{{ product.name }}</h4>
            </a>
          </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
</section>

{% include gallery.html %}
  